/* GLOBAL */
:root {
    --ghost_white: #F7F7FF;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;

    overflow-x: hidden;
}


/* NAVIGATION */
.navigation {
    height: 5.23vh;
    background-color: #333;

    position: fixed;
    bottom: 0;
    width: 100%;
}

.navigation a {
    float: left;

    color: #F7F7FF;
    text-decoration: none;

    display: block;
    text-align: center;
    line-height: 5.23vh;

    width: clamp(10vw, 108px, 1000px);
    height: 5.23vh;

    margin: 0;
}

.navigation a {
    background-color: #333;

    transition: background-color 150ms ease-in-out;
}

.navigation a:hover {
    background-color: #444;

    transition: background-color 50ms ease-in-out;
}

#selected {
    background: #F7F7FF;
    color: #333;

    transition: background-color 50ms ease-in-out;
}


/* CONTAINER */
.container {
    min-height: 100vh;
    position: relative;

    padding: 20px;
}

.container a {
    color: var(--ghost_white);
}

.container .header {
    font-size: clamp(8vw, 72px, 270px);

    font-weight: 500;
    font-style: italic;
}

.container .contact_header {
    font-size: calc(clamp(8vw, 72px, 270px) / 1.25);

    font-weight: 500;
    font-style: italic;
}

.container .subtitle {
    font-size: calc(clamp(8vw, 72px, 270px) / 4);
}


/* TEXT BLOCK */
.content_block {
    color:#F7F7FF;
    background-color: #00000015;

    padding: 20px 20px 0px 20px;

    left: 50%;

    margin: 20px 100px;

    border-radius: 10px;
}

.content_block h1 {
    margin-bottom: 10px;

    font-style: italic;
}

.content_block h2 {
    margin-bottom: 10px;
}

.content_block h3 {
    font-size: 16px;
}

.content_block p {
    text-align: justify;
    font-size: 15px;
    padding-bottom: 20px;
}

.skill_collection {
    display: inline-block;

    margin-right: 40px;
}

.skill_container {
    display: inline-block;

    width: 100px;

    margin-right: 20px;
    margin-bottom: 30px;
}

.skill_bar {
    display: inline-block;
    height: 10px;

    border-radius: 10px;
}

.mix_block {
    display: inline-block;
    margin-right: 20px;

    margin-bottom: 20px;
}

.mix_block a {
    display: block;
}

.gear_block {
    display: inline-block;

    width: 320px;

    vertical-align: top;

    margin-right: 20px;
    margin-bottom: 20px;
}

.gear_block ul {
    list-style-type:circle;

}

/* SLIDE SHOW */
.slideshow_container {
    position: absolute;
    top: calc(100vh - 400px - 20px);
    left: 50%;
}

.slideshow {
    background: linear-gradient(20deg, rgba(0,0,0,0.47941183309261204) 0%, rgba(0,0,0,0.2721289199273459) 100%);

    width: clamp(40vw, 720px, 2000px);
    height: 192px;

    position: relative;

    
    margin-left: calc(clamp(40vw, 720px, 2000px) / 2 * -1 - 20px);
    

    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

.slideshow_nav {
    background: linear-gradient(0deg, rgba(31,31,31,1) 0%, rgba(41,41,41,1) 100%);

    margin-left: calc(clamp(40vw, 720px, 2000px) / 2 * -1 - 20px);

    padding: 8px 0;

    text-align: center;

    border-radius: 0px 0px 20px 20px;
}

.slideshow_nav a {
    font-size: 1.83vh;

    padding: 0 20px;

    cursor: pointer;

    transition: margin-left 150ms ease-in-out;
}

.slideshow_nav a:hover {
    margin: 0 -2px;
    padding: 0 22px;

    transition: margin-left 150ms ease-in-out;
}

.slideshow_nav_dot {
    display:inline-block;
    cursor: pointer;
    height: 1.33vh;
    width: 1.33vh;
    margin: 0 2px;
    background-color: #999;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    transition: height 250ms ease-in-out;
    transition: width 250ms ease-in-out;
}

.slideshow_nav_dot:hover {
    background-color: #F7F7FF;
    transition: background-color 50ms ease-in-out;
    transition: height 250ms ease-in-out;
    transition: width 250ms ease-in-out;

    height: 1.43vh;
    width: 1.43vh;
}

#slideshow_nav_dot_active {
    background-color: #F7F7FF;
}