* {
    margin: 0;
}

body {
    color: #F0F7EE;
    font-family: 'Roboto', sans-serif;

    padding-bottom: 50px;

    background: #453F50;
}

.title {
    text-align: center;
    padding: 50px;
    background: #312D39;
}

#header {
    background: #312D39;
    overflow: hidden;
}

#header a {
    /* BORDER TRANSITIONING ON HOVER */
    border-bottom: 3px solid #F0F7EE00;
    transition: 0.15s;

    /* BUTTON APPERANCE */
    font-size: 17px;
    text-decoration: none;
    color: snow;
    text-align: center;

    /* SIZE AND POSITIONING */
    float: left;
    width: 100px;
    padding: 14px 16px;
}

#header a:hover {
    border-bottom: 3px solid #F0F7EEFF;
    transition: 0.15s;
}

#header a.active {
    border-bottom: 3px solid #BA1200;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + body {
    padding-top: 60px;
}

.content {
    padding: 50px 200px 0px 200px;
}
