* {
    margin: 0;
}

body {
    color: #F0F7EE;
    font-family: 'Roboto', sans-serif;

    background: #453F50;
}

.title {
    text-align: center;
    padding: 50px;
    background: #312D39;
}

.header {
    background: #312D39;
    overflow: hidden;
}

.header a {
    /* BORDER TRANSITIONING ON HOVER */
    border-bottom: 3px solid #F0F7EE00;
    transition: 0.15s;

    /* BUTTON APPERANCE */
    font-size: 17px;
    text-decoration: none;
    color: snow;
    text-align: center;

    /* SIZE AND POSITIONING */
    float: left;
    width: 100px;
    padding: 14px 16px;
}

.header a:hover {
    border-bottom: 3px solid #F0F7EEFF;
    transition: 0.15s;
}

.header a.active {
    border-bottom: 3px solid #BA1200;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}
